.hide{
    display: none;
}
.car{
    position: absolute;
    background-color: blue;
    bottom: 100px;
    width: 100px;
    height: 150px;
    margin: auto;
    font-size: 2rem;
}
.enemy{
    position:absolute;
    background-color: red;
    bottom: 100px;
    width: 100px;
    height: 150px;
    margin: auto;
}
.gameArea{
    background-color: black;
    width: 100%;
    height: 99%;
    overflow: hidden;
    position: fixed;
    margin: auto;
}
.startScreen{
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    background-color: red;
    padding: 10px;
}
.line{
    position: absolute;
    height: 120px;
    width: 22px;
    background-color: white;
    margin-left: 50%;
}
.score{
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    font-size: 1.3rem;
}